/* NewsletterSlider.css */
.newsletter-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.slider-content {
    display: flex;
    align-items: center;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 12px 50px black;
}

.slider-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.post-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.slider-controls button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.slider-controls button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width : 500px)
{
    
    .slider-content{
        padding: 5px;
    }

}